.change-pw .title {
   font-weight: 500;
}

.confirm-button {
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

.confirm-button button {
   padding: 16px 24px;
   color: white;
   background: #1cc88a;
   font-weight: 500;
   border: none;
   outline: none;
   font-size: 18px;
}

.confirm-button button:hover {
   background-color: #26b480;
   transition: all 0.2s ease-in-out;
   color: white;
}
