#explorer-section {
  width: 100%;
  background: white;
  padding: 60px 0;
}

#explorer-section .section-container {
  background-color: #41c0911e;
  padding: 40px;
  border-radius: 20px;
  display: flex;
}

.explorer-section_img,
.explorer-section_content {
  width: 50%;
}

.explorer-section_content {
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.explorer-section_content h3,
.explorer-section_content p {
  text-align: center;
}

.findout-btn {
  text-align: center;
}

.explorer-section_content .logo {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.explorer-section_content .btn {
  background: #1cc88a;
  color: white;
  padding: 20px 50px;
  border-radius: 12px;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  margin-top: 50px;
}
