.line-page {
    width: 100%;
    height: 1px;
    background-color: #d8d8d8;
}

.car_detail_container {
    width: 100%;
    height: 100%;
    display: inline-block;
    border-bottom: 1px solid #d8d8d8;
}

.car_detail_container .car_image {
    height: 750px;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 32px;
}

.car_image .car_image_container {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 16px;
    grid-gap: 16px;
}

.cover_car_image {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.car_image .main_image {
    width: calc(68% - 16px);
    height: 100%;
}

.car_image .sub_image {
    width: 32%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    grid-gap: 16px;
}

.car_image_container .sub_image .cover_car_image {
    width: 100%;
    height: calc(100% / 3 - 11px);
}

.car_image .sub_image .cover_car_image img,
.car_image .main_image .cover_car_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.car-detail {
    width: 100%;
    width: 80%;
    margin: 0 auto;
}

.car-detail-content {
    width: calc(68% - 16px);
    float: left;
}

.infor-car-basic {
    padding-bottom: 35px;
}

.infor-car-basic .group-name {
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.infor-car-basic .group-name h3 {
    font-size: 40px;
}

.group-action {
    display: flex;
}

.group-action .wrap-ic {
    width: 50px;
    height: 50px;
    border: 1px solid #d8d8d8;
    border-radius: 50%;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.group-action .wrap-ic:hover,
.group-action .wrap-ic:hover i {
    color: #1cc88a;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
    border-color: #1cc88a;
}

.group-action .wrap-ic i {
    font-size: 24px;
    color: #d8d8d8;
    margin: 0;
}

.group-total {
    display: flex;
    align-items: center;
    color: #7c7c7c;
    margin-bottom: 20px;
}

.group-total .dot {
    padding: 0 5px;
    color: black;
}

.group-total .ic {
    margin-right: 5px;
    color: #1cc88a;
}

.tag-delivery,
.tag-transmission {
    padding: 6px 14px;
    border-radius: 20px;
    background-color: #eef7ff;
    font-size: 14px;
    font-weight: 500;
}

.tag-delivery {
    margin-left: 10px;
    background: #fce0d3;
}

.infor-car-desc {
    margin: 30px 0;
}

.infor-car-desc h6 {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 30px;
}

.outstanding-features {
    display: flex;
    justify-content: space-between;
}

.outstanding-features-item .title .sub {
    font-size: 18px;
    color: #7c7c7c;
}

.outstanding-features-item .title .main {
    font-size: 20px;
    color: #000;
}

.infor-car-desc .desc {
    color: #7c7c7c;
    position: relative;
    font-size: 17px;
}

.car-detail-sidebar {
    float: right;
    width: 32%;
    background-color: #f7fbff;
    padding: 16px 24px;
    border-radius: 20px;
    border: 1px solid #e7e7e7;
}

.car-detail-sidebar .rent-box .price h4 {
    font-size: 28px;
    font-weight: bold;
    color: black;
    margin-bottom: 12px;
}

.dropdown-form,
.date-time-form {
    display: flex;
    border-radius: 10px;
    border: 1px solid #e7e7e7;
    margin-bottom: 12px;
    background: white;
}

.date-time-form .form-item {
    width: calc(50% - 1px);
    padding: 12px;
}

.date-time-form .form-item label {
    font-size: 14px;
}

.line {
    width: 1px;
    background-color: #e7e7e7;
}

.form-item .form-choose {
    margin-top: 10px;
}
.form-item .form-choose .calendar-input {
    width: 100%;
    display: inline-block;
    font-size: 18px;
}

.dropdown-form {
    padding: 12px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.dropdown-form label {
    font-size: 14px;
    margin-bottom: 10px;
}

.dropdown-form .dropdown {
    font-size: 18px;
}

.price-container {
    width: 100%;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}

.price-container .price-item {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.price-container .price-item p {
    color: #333;
}

.price-container .price-item .cost {
    color: black;
    font-weight: bold;
}

.total-price {
    margin-top: 10px;
    font-weight: bold;
}

.promotion {
    padding: 10px 16px;
    background: #dff5e7;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.promotion p {
    color: #333;
    margin-bottom: 0;
    margin-left: 8px;
}

.order-btn {
    border-radius: 10px;
    background-color: #1cc88a;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: bold;
    padding: 20px 0;
    opacity: 0.8;
    font-size: 16px;
}

.order-btn span {
    margin-left: 5px;
}

.infor-car-desc pre {
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    color: #7c7c7c;
    text-align: left;
    white-space: pre-line;
    display: inline-block;
}

.read-more {
    color: #1cc88a;
    cursor: pointer;
    font-size: 17px;
}

.read-more i {
    margin-left: 5px;
}

.hide {
    max-height: 186px;
    overflow: hidden;
}

.desc.gradient::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(hsla(0, 0%, 100%, 0), #fff);
}

.desc.no-before::before {
    display: none;
}

.feature-item {
    background: #f1f1f1;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 30px;
    font-weight: 500;
    margin-right: 10px;
    margin-bottom: 14px;
}

.cancel-policy .column:not(:first-child) {
    border-top: 0;
}

.column {
    border: 1px solid #e7e7e7;
    display: flex;
}

.column .column-item {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.column .column-item i {
    font-size: 20px;
    margin-bottom: 8px;
}

.column .column-item .fa-circle-xmark {
    color: rgb(255, 64, 64);
}

.column .column-item .fa-circle-check {
    color: #1cc88a;
}

.column.title {
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    border-radius: 12px 12px 0 0;
}

.column .column-item:not(:first-child) {
    border-left: 1px solid #e7e7e7;
}

.column-item.case {
    text-transform: capitalize;
}

.cancel-policy .note{
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 0;
    color: #7c7c7c;
}