#featured-homestays-section {
   width: 100%;
   background: #f7f7f7;
   padding: 60px 0;
   min-height: 100vh;
}

.homestay-list {
   display: flex;
   flex-wrap: wrap;
   margin: 0 -10px;
}

.homestay-list .homestay-item {
   width: 25%;
   margin-bottom: 20px;
   padding: 0 10px;
}
